{:nrepl {:enabled true}
 :riemann {:server "localhost"}
 :defaults {:tags ["devel" "appfoo"]}
 :jobs [{:service "plop1"
         :interval 12
         :type :clj
         :active true
         :job-fn (fn [] {:state "prout" :metric 3333})}

        {:service "plop2" :interval 12
         :type :clj
         :args ["arg1" 223]
         :job-fn (fn [a1 a2] {:state (str a1 "--" a2)})}
        ]}
