{:nrepl {:enabled true}
 :riemann {:server "localhost"}
 :defaults {:tags ["devel" "appfoo"]}
 :jobs [{:service "alive" :interval 12
         :type :clj :active true
         :job-fn (fn [] {:state "ok"})}

        {:service "load" :interval 20
         :type :clj
         :job-ns "cauchy.jobs.health"
         :job-fn "load-average"}

        ]}
